<%= render 'shared/navbar' %>
<div class="container ml-0">
  <div class= 'banner'></div>
  <br>
  <div>
    <ul>
      <div class="cards">
        <ul>
          <% @bios.each do |bio| %>
            <li> <%= bio.bioyear %>  |  <%= bio.title %>  |  <%= bio.institute %>  |  <%= bio.place %> </li>
              <div class="grid-item">
                <% if user_signed_in? %>
                  <button type="button" class="btn btn-light"> <%= link_to "EDIT", edit_bio_path(bio) %> </button>
                  <button type="button" class="btn btn-danger"> <%= link_to "DEL", bio_path(bio), method: :delete, data: { confirm: "SURE?" } %> </button>
                <% end %>
              </div>
        <% end %>
      </ul>
      </div>
    </ul>
  </div>
  <% if user_signed_in? %>
  <div>
    <%= link_to "ADD 1", new_bio_path, class: "btn btn-gradient" %>
  </div>
  <% end %>
</div>
