<div class="navbar">
  <div class="navbar-collapse">
    <%= link_to "JOPENCA.COM", root_path, class: "btn btn-success" %>
    <%= link_to "NEWS", events_path, class: ["btn btn-primary", ("active" if request.path == events_path)] %>
    <%= link_to "BIO", bios_path, class: ["btn btn-warning", ("active" if request.path == bios_path)]%>
    <%= link_to "CONTACT", contact_path, class: ["btn btn-danger", ("active" if request.path == contact_path)] %>
    <% if user_signed_in? %>
      <%= link_to "LOGOUT USER #{current_user&.email}", destroy_user_session_path, method: :delete, class: "btn btn-info" %>
      <% else %>
        <%= link_to "LOGIN", new_user_session_path, class: "btn btn-info" %>
    <% end %>
  </div>
</div>
