<br>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-5">
      <div class="costume-form p-4 mt-4 mb-4">
        <h2>Add a new Event</h2>

        <%= simple_form_for [@event] do |f| %>
          <%= f.input :title %>
          <%= f.input :eventtext %>
          <%= f.input :eventdate %>
          <%= f.input :links %>
          <div data-controller="multi-upload">
            <div class="photos">
              <%= f.label :photos %>
              <%= f.file_field :photos, :multiple => true, :data => {:action => "multi-upload#addFile"} %>
            </div>
            <div data-multi-upload-target="files"></div>
          </div>
          <br>
          <%= f.button :submit, "Add Event", class: "btn btn-success" %>
        <% end %>

      </div>
    </div>
  </div>
</div>
