<%= render 'shared/navbar' %>
<br>
<div class= "container">
  <% if @event.photos.attached? %>
    <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel" data-bs-interval="false">
      <div class="carousel-inner">
        <% @event.photos.each_with_index do |photo,i| %>
          <div class="carousel-item <%= "active" if i==0 %>" style="background-image: url(<%= cloudinary_url(photo.key) %>)" ></div>
        <% end %>
      </div>
      <div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="">PREV</span>
        </a>
      </div>
      <div>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="">NEXT</span>
        </a>
      </div>

    </div>
  <% else %>
    <div class="show-image mb-3 d-flex justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)); color: rgba(0,0,0,0.5)">
      <p><em>No image uploaded.</em></p>
    </div>
  <% end %>
  <br>


    <div class="eventtext">
      <h2><%= @event.title %></h2>
      <p><%= @event.eventtext %></p>
    </div>
</div>
