<%= render 'shared/navbar' %>
<br>
<div class= "container">
  <% if Attachment.includes(@event).count > 1 %>
    <div id="carouselExampleControls" class="carousel slide carousel-fade" data-interval="false" data-bs-interval="false">
      <div class="carousel-inner">
        <% @event.attachments.each_with_index do |attachment,i| %>
          <div class="carousel-item <%= "active" if i==0 %>" style="background-image: url(<%= cloudinary_url(attachment.photo.key) %>)" ></div>
        <% end %>
      </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-button"><</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-button">></span>
        </a>
    </div>
  <% elsif Attachment.includes(@event).count == 1 %>
    <div id="carouselExampleControls" class="carousel slide carousel-fade" data-interval="false" data-bs-interval="false">
      <div class="carousel-inner">
        <% @event.attachments.each_with_index do |attachment,i| %>
          <div class="carousel-item <%= "active" if i==0 %>" style="background-image: url(<%= cloudinary_url(attachment.photo.key) %>)" ></div>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="show-image mb-3 d-flex justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)); color: rgba(0,0,0,0.5)">
      <p><em>No image uploaded.</em></p>
    </div>
  <% end %>
  <br>
  <br>
  <div class="eventtext">
    <h2><%= @event.title %></h2>
    <p><%= @event.eventtext %></p>
  </div>
</div>
