<div class="container">
    <div class="logo mb-5" class="mb-5">
    </div>
      <div>
        <%= link_to "JOPENCA.COM", root_path, class: "btn btn-success my-1" %>
      </div>
      <div>
        <%= link_to "NEWS", events_path, class: "btn btn-primary my-1" %>
      </div>
      <div>
        <%= link_to "BIO", bios_path, class: "btn btn-warning my-1" %>
      </div>
      <div>
        <%= link_to "CONTACT", contact_path, class: "btn btn-danger my-1" %>
      </div>
      <div>
        <%= link_to "LOGIN", new_user_session_path, class: "btn btn-info my-1" %>
      </div>
  </div>
