<div class="container">
    <div class="logo mb-5" class="mb-5">
    </div>
      <div>
        <%= link_to "JOPENCA.COM", root_path, class: "btn btn-success" %>
      </div>
      <div>
        <%= link_to "NEWS", events_path, class: "btn btn-primary" %>
      </div>
      <div>
        <%= link_to "BIO", bios_path, class: "btn btn-warning" %>
      </div>
      <div>
        <%= link_to "CONTACT", bios_path, class: "btn btn-danger" %>
      </div>
      <div>
        <%= link_to "BIB", bibs_path, class: "btn btn-info" %>
      </div>
  </div>
